05_10-WorkingMovieApp/README.md
05_10-WorkingMovieApp/Solved/working-movie-app-solved.html
05_10-WorkingMovieApp/Unsolved/working-movie-app-easier.html
05_10-WorkingMovieApp/Unsolved/working-movie-app-harder.html
05_15-PausingGifs/README.md
05_15-PausingGifs/Solved/pausing-gifs-solution.html
05_15-PausingGifs/Unsolved/pausing-gifs.html
05_16-NYTSearch/Instructions/Phase-01.md
05_16-NYTSearch/Instructions/Phase-02.md
05_16-NYTSearch/Instructions/Phase-03.md
05_16-NYTSearch/Instructions/Phase-04.md
05_16-NYTSearch/Instructions/Images/nyt.png
05_16-NYTSearch/Solved/NYTArticleSearch_Best_Solution/nyt-example.html
05_16-NYTSearch/Solved/NYTArticleSearch_Best_Solution/nytCode.js
05_16-NYTSearch/Solved/NYTArticleSearch_VideoComplement/APIKey.txt
05_16-NYTSearch/Solved/NYTArticleSearch_VideoComplement/index.html
05_16-NYTSearch/Solved/NYTArticleSearch_VideoComplement/logic.js
05_16-NYTSearch/Solved/NYTArticleSearch_VideoComplement/VIDEOLINK.txt
05_16-NYTSearch/Solved/NYTArticleSearch_VideoComplement/workingurl.txt
