body {
  margin: 0;
  font-size: 10px;
  padding: 0;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#info {
  display: table;
  position: fixed;
  bottom: 4px; 
  left: 50%;
  transform: translateX(-50%);
  word-wrap: anywhere;
  white-space: pre-wrap;
  padding: 1px;
  border: none;
  border-radius: 3px;
  font-family: Ubuntu;
  text-align: center;
  color: #222;
  /* background: rgba(255, 255, 255, 0.8); */
}
.navCamControls {
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  top: 30px;
  right: 44px;
  z-index: 1;
  max-width: 20%;
  color: #fff;
  margin: 0px;
  padding: 8px;
}
.navCamControls input[type="checkbox"]:first-child + label {
  border-radius: 6px 6px 0 0;
}

.navCamControls label:last-child {
  border-radius: 0 0 10px 10px;
  border: none;
}

.navCamControls input[type="checkbox"] {
  display: none;
}

.navCamControls input[type="checkbox"] + label {
  /* background-color: #3386c0; */
  color: #797775;
  display: block;
  cursor: pointer;
  margin: 0px;
  padding: 4px;
  border-bottom: 1px solid skyblue;
}

.navCamControls input[type="checkbox"] + label {
  /* font-style: italic; */
  /* background-color: #b4bfc1; */
  text-transform: capitalize;
}

.navCamControls input[type="checkbox"]:checked + label {
  /* background-color: #4ea0da; */
  text-transform: capitalize;
}
.navCamControls input[type="checkbox"] + label:hover
{
  /* background-color: #4ea0da; */
  text-transform: capitalize;
  transform: scale(1.15, 1.15);
  box-shadow: skyblue 1px 2px 2px;
}

.navCamControls input[type="checkbox"]:checked + label:before {
  content: "✔";
  /* font-weight: bold; */
  padding:1px;
  margin-right: 4px;
  color: skyblue;
}
.calculation-box {
  position: fixed;
  width: 90px;
  bottom: 20px;
  left: 5px;
  z-index: 2;
  margin: 10px;
  margin-left: 0px;
}

.bring-front{
  z-index:1;
}
.send-back{
  z-index:-1;
}
.show-hide{
  z-index: 1;
}

.add-anime {
  transition: ease 0.15s;
}

.add-anime:hover {
  transform: scale(1.1, 1.1);
  box-shadow: rgb(111, 230, 141) 5px 15px 20px; /* Increased blur radius */
}
.no-anime img:hover {
  transform: scale(1.01, 1.01);
  box-shadow: white 0px 0px 0px; /* Increased blur radius */
}

.btn-icon {
  font-size: 1.50rem;
}
.nav-icon{
  font-size:1.75em;
}
.nav-item.nav-link {
  transition: ease 0.15s;
}
.nav-item.nav-link:hover {
  transform: scale(1.03, 1.03);
  box-shadow: DarkTurquoise 0px 2px 8px; /* Increased blur radius */
}
#geo-route-panel {
  position: fixed;
  z-index: 1;
  max-width: 180px;
  margin: 2px;
  border-radius: 8px;
  padding: 0px;
  top: 36px;
  left: 0px;
  z-index: 1;
}
#geo-route-panel input{
  font-size: 2.00em;
}
#geo-route-panel button{
  min-width: 35px;
}

.text-xs {
  font-size: 0.60em;
}

.text-lg {
  font-size: 1.25em;
}
.text-xl {
  font-size: 1.50em;
}
.text-sm {
  font-size: 0.80em;
}
.opac{
  opacity: 1;
}
.geo-icons{
  font-size: 2em;
}
.geo-route-row{
  margin-top:    10px;
  margin-bottom: 10px;
}

.round-sm {
  border-radius: 3px;
}
.round-lg {
  border-radius: 6px;
}